<md-dialog aria-label="Appointment">
<form name="appointmentForm">
	
	<md-toolbar class="pink-background">
		<div class="md-toolbar-tools pink-background">
			<h2>Add an appointment</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()" aria-label="Cancel"> 
				<ng-md-icon icon="close" style="fill: #FFFFFF;"></ng-md-icon> 
			</md-button>
		</div>
	</md-toolbar>

	<md-dialog-content class="md-padding">
		<div layout layout-sm="column">
			<md-input-container flex> 
			
			 <input ng-model="newAppointment.title" ng-value="newAppointment.title" placeholder="Appointment Title" required> 
			
			  <div ng-messages="appointmentForm.name.$error">
	            <div ng-message="required">Name is required.</div>
	            <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
	          </div>
			</md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-datepicker ng-model="newAppointment.startTime" md-placeholder="Start Date" required></md-datepicker>
			<md-datepicker ng-model="newAppointment.endTime" md-placeholder="End Date" required></md-datepicker>
		</div>
		<div layout layout-sm="column">
			<md-input-container class="md-block" flex-gt-sm>
	          <input name="email" ng-model="newAppointment.email" placeholder="Email"
	                 minlength="6" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
	        </md-input-container>
        			
			<md-input-container class="md-block" flex-gt-sm>
	          <input placeholder="Phone" name="phone" ng-model="newAppointment.phone" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" />
	
	          <div class="hint">(###) ###-####</div>
	        </md-input-container>
	        
		</div>
		<div layout layout-sm="column">
			<md-input-container flex="90"> <textarea ng-model="newAppointment.about" columns="1" md-maxlength="250" placeholder="Description"></textarea>
			</md-input-container>
		</div>	 
	</md-dialog-content>

	<md-dialog-actions layout="row"> <span flex></span> 
	<md-button aria-label="Cancel" ng-click="answer('cancel')"> Cancel </md-button> 
	<md-button aria-label="Save" ng-click="submitForm(newAppointment)" class="md-primary"> Save </md-button> </md-dialog-actions>
</form>
</md-dialog>